<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Total egresados: <%= totalEgresados %></p>
    <p>Total carreras: <%= totalCarreras %></p>
</body>
</html>
